{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}




        <div class="row justify-content-center">
            <div class="col col-lg-10 col-xl-9 pt-5 pb-5">

                <div class="row justify-content-around">


                    <div class="col-12 text-center m-4">
                        <a href="" class="btn btn-outline-success btn-lg m-auto p-5">Connexion</a>
                    </div>
                    <div class="col-12 text-center m-4">
                        <a href="" class="btn btn-outline-success btn-lg m-auto p-5">Recup Mot de passe</a>
                    </div>

                </div>


            </div>
        </div>



{% endblock %}
